@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/variables';

.cg-pin-input {
  align-items: center;
  display: flex;

  &__char {
    font-family: $font-primary;
    -moz-appearance: textfield;
    border: 1px solid $medium-gray;
    border-radius: 20px;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    width: 40px;
    outline: 0;
    font-size: 14px;
    color: $dark-gray;

    &:focus {
      border-color: $navy-light;
      box-shadow: 0 0 0 3px rgba($navy-lighter, 0.5);
    }
    &::placeholder {
      color: $medium-gray;
    }
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  &__toggle-visibility {
    border: 0;
    cursor: pointer;
    margin-left: 12px;
    padding: 0;
    transition: 0.2s;
    color: $medium-gray;
    min-width: 0;
    background: none;

    &:active,
    &:focus {
      box-shadow: none;
    }

    &--active {
      opacity: 1;
    }
  }
}

.cg-pin-input-part {
  position: relative;

  & + & {
    margin: 0 0 0 5px;
  }

  &--filled {
    &::after {
      content: '•';
      font-weight: 600;
      color: $dark-gray;
      font-size: 18px;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      line-height: 8px;
    }

    .cg-pin-input__char {
      color: transparent;
      caret-color: black;
      font-size: 0;
      user-select: none;
    }
  }
}
