@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';
@import '../../../assets/styles/breakpoints';

$input-border: 2px solid $light-gray;

.cg-input {
  font-family: $font-primary;
  background-color: white;
  border: 0;
  border-bottom: $input-border;
  border-radius: 0;
  font-size: $size-m;
  box-shadow: none;
  box-sizing: content-box;
  color: $navy;
  display: inline-block;
  line-height: normal;
  font-weight: 400;
  height: 38px;
  min-width: 1px;
  padding-bottom: 8px;
  position: relative;
  transition: border-color ease 0.2s;
  outline: 0;
  width: 100%;

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
  }

  &::placeholder {
    font-weight: 300;
    color: $light-gray;
    opacity: 1;
  }

  &:focus,
  &:focus ~ .fieldset__addon {
    border-color: $navy;
  }

  &--centered {
    text-align: center;
  }

  &--separator {
    @include breakpoint(tablet-portrait) {
      border-left: $input-border;
      padding-left: 16px;
    }
    @include breakpoint(phone-only) {
      margin-top: 32px;
    }
  }

  &--rounded {
    border: 1px solid;
    border-color: $medium-gray;
    border-radius: 999px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    color: $dark-gray;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: normal;

    &::placeholder {
      color: $text-gray;
      font-weight: normal;
    }

    &:focus {
      border-color: $navy-lighter;
      box-shadow: 0 0 0 3px rgba(167,204,237,.5);
    }
  }

  &[disabled] {
    cursor: default;
    color: $medium-gray;
  }
}
