@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.cg-input {
  font-family: $font-primary;
  font-size: $size-s;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  line-height: normal;
  min-width: 1px;
  background-color: white;
  border: 1px solid $medium-gray;
  border-radius: 999px;
  height: 40px;
  padding: 0 20px;
  color: $dark-gray;
  letter-spacing: -0.2px;
  font-weight: 300;
  transition: border-color ease 0.2s;
  outline: 0;
  width: 100%;
  position: relative;

  &::placeholder {
    font-weight: 300;
    color: $text-gray;
  }

  &:focus {
    border-color: $navy-light;
    box-shadow: 0 0 0 3px rgba($navy-lighter, 0.5);
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
  }

  &[disabled] {
    cursor: default;
    background-color: $lightest-gray;
    border: 1px solid $light-gray;
    color: $light-gray;

    &::placeholder {
      color: $light-gray;
    }
  }
}
